---
---
@import "{{ site.theme }}";

body {
  font-size: 17px;
  line-height: 1.6;
}

.wrapper {
  display: block;
  max-width: 1012px;
  margin: 0 auto;
  padding: 2em 1em;
}

header {
  display: none;
}

section {
  width: auto;
  float: none;
  border: none;
  padding: 0;
}

footer {
  position: static;
  width: auto;
  text-align: center;
  margin-top: 3em;
}
